
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Productos</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-boxes me-1"></i> Lista de Productos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success" onclick="abrirModal(null)">Crear nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtId" type="hidden" value="0" />

                <form id="contenedor" class="row">

                    <div class="col-sm-3">

                        <div class="mb-2">
                            <img id="imgProducto" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="fileProducto" accept="image/png,image/jpg,image/jpeg" onchange="mostrarImagen(this)" />
                        </div>

                    </div>

                    <div class="col-sm-3">

                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input class="form-control" type="text" id="txtNombre" name="nombre" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripción</label>
                            <textarea class="form-control" type="text" id="txtDescripcion" name="descripcion" style="height:125px; resize: none;"></textarea>
                        </div>

                    </div>

                    <div class="col-sm-3">

                        <div class="mb-3">
                            <label class="form-label">Marca</label>
                            <select id="cboMarca" class="form-select">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Categoría</label>
                            <select id="cboCategoria" class="form-select">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Precio</label>
                            <input type="text" class="form-control" name="precio" id="txtPrecio" autocomplete="off" />
                        </div>

                    </div>

                    <div class="col-sm-3">

                        <div class="mb-3">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" name="stock" id="txtStock" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Activo</label>
                            <select id="cboActivo" class="form-select">
                                <option value="1">Si</option>  
                                <option value="0">No</option>  
                            </select>
                        </div>

                    </div>

                </form>


                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var tablaData;
        var filaSeleccionada;

        function mostrarImagen(input) {
            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#imgProducto").attr("src", e.target.result).width(200).height(197)
                }
                reader.readAsDataURL(input.files[0])
            }

        };

        tablaData = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarProductos", "Mantenedor")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                {"data": "Nombre"},
                { "data": "Descripcion" },
                {
                    "data": "oMarca", "render": function (data) {
                        return data.Descripcion;
                    }
                },
                {
                    "data": "oCategoria", "render": function (data) {
                        return data.Descripcion;
                    }
                },
                { "data": "Precio" },
                { "data": "Stock" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Si</span>';
                        } else {
                            return '<span class="badge bg-danger">No</span>';
                        }
                    }
                },
                {
                    "defaultContent": '<button class="btn btn-sm btn-primary btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button class="btn btn-sm btn-danger ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "80px"
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            }
        });

        jQuery.ajax({
                url: '@Url.Action("ListarMarcas", "Mantenedor")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar...").appendTo("#cboMarca");
                    $.each(data.data, function (index, item) {
                        $("<option>").attr({ "value": item.IdMarca }).text(item.Descripcion).appendTo("#cboMarca");
                    });
                },
                error: function (error) {
                    console.log(error)
                }
        });

        jQuery.ajax({
                url: '@Url.Action("ListarCategorias", "Mantenedor")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar...").appendTo("#cboCategoria");
                    $.each(data.data, function (index, item) {
                        $("<option>").attr({ "value": item.IdCategoria }).text(item.Descripcion).appendTo("#cboCategoria");
                    });
                },
                error: function (error) {
                    console.log(error)
                }
        });

        jQuery.validator.addMethod("precioDecimal", function (value, element) {
            return this.optional(element) || /^\d{0,4}(\.\d{0,2})?$/i.test(value);
        }, "El formato correcto del precio es ###.##");

        $("#contenedor").validate({
            rules: {
                nombre: {
                    required: true,
                },
                descripcion: {
                    required: true,
                },
                precio: {
                    required: true,
                    precioDecimal: true
                },
                stock: {
                    required: true,
                    number: true
                },
            },
            messages: {
                nombre: "- El campo nombre es obligatorio",
                descripcion: "- El descripcion nombre es obligatorio",
                precio: { required: "- El campo precio es obligatorio", precioDecimal: "- El formato correcto del precio es ###.##"},
                stock: { required: "- El campo stock es obligatorio", number: "- El campo stock debe ser numerico"}
            },
            errorElement: "div",
            errorLabelContainer: ".alert-danger"
        });









        function abrirModal(json) {

            $("#txtId").val(0);
            $("#imgProducto").removeAttr("src");
            $("#fileProducto").val("");
            $("#txtNombre").val("");
            $("#txtDescripcion").val("");
            $("#cboMarca").val($("#cboMarca option:first").val());
            $("#cboCategoria").val($("#cboCategoria option:first").val());
            $("#txtPrecio").val("");
            $("#txtStock").val("");
            $("#cboActivo").val(1);

            $("#mensajeError").hide();

            if (json != null) {
                $("#txtId").val(json.IdProducto);
                //$("#imgProducto").removeAttr("src");
                //$("#fileProducto").val("");
                $("#txtNombre").val(json.Nombre);
                $("#txtDescripcion").val(json.Descripcion);
                $("#cboMarca").val(json.oMarca.IdMarca);
                $("#cboCategoria").val(json.oCategoria.IdCategoria);
                $("#txtPrecio").val(json.Precio);
                $("#txtStock").val(json.Stock);
                $("#cboActivo").val(json.Activo == true ? 1 : 0);

                jQuery.ajax({
                    url: '@Url.Action("ImagenProducto", "Mantenedor")',
                    type: "POST",
                    data: JSON.stringify({ id: json.IdProducto}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#imgProducto").LoadingOverlay("hide");
                        if (data.conversion) {
                            $("#imgProducto").attr({ "src": "data:image/" + data.extension + ";base64," + data.textoBase64 })
                        }
                    },
                    error: function (error) {
                        $("#imgProducto").LoadingOverlay("hide");
                        $("#mensajeError").show();
                        $("#mensajeError").text("Error al mostrar imagen");
                    },
                    beforeSend: function () {
                        $("#imgProducto").LoadingOverlay("show");
                    }
                });
            }

            $("#FormModal").modal("show");
        };

        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tablaData.row(filaSeleccionada).data();

            abrirModal(data);
        });

        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var elementoSeleccionado = $(this).closest("tr");

            var data = tablaData.row(elementoSeleccionado).data();

            swal(
                {
                    title: "Esta seguro?",
                    text: "¿Desea eliminar el producto?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-primary",
                    confirmButtonText: "Si",
                    cancelButtonText: "No",
                    closeOnConfirm: true
                },
                function (isConfirm) {

                    //debugger;
                    jQuery.ajax(
                        {
                            url: '@Url.Action("EliminarProducto", "Mantenedor")',
                            type: "POST",
                            data: JSON.stringify({ id: data.IdProducto }),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data.resultado) {
                                    tablaData.row(elementoSeleccionado).remove().draw();
                                } else {
                                    swal("No se pudo eliminar", data.mensaje, "error");
                                }
                            },
                            error: function (error) {
                                console.log(error)
                            }
                        }
                    );
                }
            );
        });


        function guardar() {
            //debugger;

            if (!$("#contenedor").valid()) {
                return;
            }

            var imagenSeleccionada = $("#fileProducto")[0].files[0];

            var producto = {
                IdProducto: $("#txtId").val(),
                Nombre: $("#txtNombre").val(),
                Descripcion: $("#txtDescripcion").val(),
                oMarca: {
                    IdMarca: $("#cboMarca option:selected").val(),
                    Descripcion: $("#cboMarca option:selected").text()
                },
                oCategoria: {
                    IdCategoria: $("#cboCategoria option:selected").val(),
                    Descripcion: $("#cboCategoria option:selected").text()
                },
                PrecioTexto: $("#txtPrecio").val(),
                Precio: $("#txtPrecio").val(),
                Stock: $("#txtStock").val(),
                Activo: $("#cboActivo").val() == 1 ? true : false
            }



            var request = new FormData();
            request.append("objeto", JSON.stringify(producto));
            request.append("archivoImagen", imagenSeleccionada);

            jQuery.ajax({
                url: '@Url.Action("GuardarProducto", "Mantenedor")',
                type: "POST",
                data: request,
                processData: false,
                contentType: false,
                success: function (data) {

                    debugger;
                    $(".modal-body").LoadingOverlay("hide");

                    // Nuevo producto
                    if (producto.IdProducto == 0) {
                        if (data.operacionExitosa && data.idGenerado != 0) {
                            producto.IdProducto = data.idGenerado
                            tablaData.row.add(producto).draw(false);
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    } else {
                        if (data.operacionExitosa) {
                            tablaData.row(filaSeleccionada).data(producto).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $("#mensajeError").text("Error ajax");
                    $("#mensajeError").show();
                    $(".modal-body").LoadingOverlay("hide");
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    });
                }
            });




        }

    </script>
}

