
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-9">
                            
                            <div class="me-2">

                                <div class="d-flex justify-content-between">
                                    <h5 class="ms-2 mt-2">Detalle Carrito</h5>
                                    <a class="btn btn-primary" href="@Url.Action("Index","Tienda")"><i class="fas fa-cart-plus"></i> Seguir comprando</a>
                                </div>

                                <hr class="mt-2 mb-2"/>

                                <div id="productosCarrito">

                                    <div class="card mb-2 cardProducto">

                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-sm-2 align-self-center d-flex justify-content-center">
                                                    <img class="rounded" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" style="width:100px;height:100px" />
                                                </div>

                                                <div class="col-sm-4 align-self-center">
                                                    <span class="font-wight-bold d-block">Marca</span>
                                                    <span>Nombre Producto</span>
                                                </div>

                                                <div class="col-sm-2 align-self-center">
                                                    <span>Precio : S/. 1500</span>
                                                </div>

                                                <div class="col-sm-2 align-self-center">
                                                    <div class="d-flex">
                                                        <button class="btn btn-outline-secondary btnRestar rounded-0">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                        <input class="form-control inputCantidad p-1 text-center rounded-0" disabled style="width:40px" />
                                                        <button class="btn btn-outline-secondary btnSumar rounded-0">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 align-self-center">
                                                    <button class="btn btn-outline-danger btnEliminar"><i class="far fa-trash-alt"></i> Eliminar</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="d-flex justify-content-end">
                                    <label class="align-self-center"><b>Total: S/. <span id="total">0</span></b></label>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle Envío</h5>
                                    <form>
                                        <div class="mb-2">
                                            <label for="cboDepartamento" class="form-label">Departamento:</label>
                                            <select class="form-select form-select-sm" id="cboDepartamento"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cboProvincia" class="form-label">Provincia:</label>
                                            <select class="form-select form-select-sm" id="cboProvincia"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cboDistrito" class="form-label">Distrito:</label>
                                            <select class="form-select form-select-sm" id="cboDistrito"></select>
                                        </div>

                                        <div class="mb-2">
                                            <label for="cboDistrito" class="form-label">Nombre Contacto:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtNombreContacto" autocomplete="off"/>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cboDistrito" class="form-label">Dirección:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtDireccion" autocomplete="off" />
                                        </div>
                                        <div class="mb-2">
                                            <label for="cboDistrito" class="form-label">Teléfono:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtTelefono" autocomplete="off" />
                                        </div>

                                        <div class="d-grid">
                                            <button class="btn btn-success" type="button" onclick="RealizarPago()">
                                                <i class="fab fa-paypal"></i> Terminar y procesar pago
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            jQuery.ajax({
                url: '@Url.Action("ListarProductosCarrito", "Tienda")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    $("#productosCarrito").html("");

                    $("#productosCarrito").LoadingOverlay("hide");

                    $.each(response.data, function (i, item) {

                        $("<div>").addClass("card mb-2 cardProducto").append(
                            $("<div>").addClass("card-body").append(
                                $("<div>").addClass("row").append(

                                    // 1.-
                                    $("<div>").addClass("col-sm-2 align-self-center d-flex justify-content-center").append(
                                        $("<img>").addClass("rounded").attr({ "src": "data:image/" + item.oProducto.Extension + ";base64," + item.oProducto.Base64 })
                                            .css({ "width": "100px", "height":"100px"})
                                    ),

                                    // 2.-
                                    $("<div>").addClass("col-sm-4 align-self-center").append(
                                        $("<span>").addClass("font-wight-bold d-block").text(item.oProducto.oMarca.Descripcion),
                                        $("<span>").text(item.oProducto.Nombre)
                                    ),

                                    // 3.-
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<span>").text(item.oProducto.Precio.toFixed(2) + " USD")
                                    ),

                                    // 4.-
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<div>").addClass("d-flex").append(
                                            $("<button>").addClass("btn btn-outline-secondary btnRestar rounded-0").append(
                                                $("<i>").addClass("fas fa-minus")
                                            ),
                                            $("<input>").addClass("form-control inputCantidad p-1 text-center rounded-0").attr({ "disabled": "disabled" })
                                                .css({ "width": "40px" })
                                                .data("oProducto", item.oProducto)
                                                .val(item.Cantidad),
                                            $("<button>").addClass("btn btn-outline-secondary btnSumar rounded-0").append(
                                                $("<i>").addClass("fas fa-plus")
                                            )
                                        )
                                    ),

                                    // 5.-
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<button>").addClass("btn btn-outline-danger btnEliminar").append(
                                            $("<i>").addClass("far fa-trash-alt"),
                                            " Eliminar"
                                        ).data("idProducto",item.oProducto.IdProducto)
                                    )
                                )
                            )
                        ).appendTo("#productosCarrito")

                    });

                    SumarTotal();

                },
                error: function () {
                    $("#productosCarrito").LoadingOverlay("hide");
                },
                beforeSend: function () {
                    $("#productosCarrito").LoadingOverlay("show");
                }
            });

            ListarDepartamentos();
            ListarProvincias();
        })

        function ListarDepartamentos() {

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cboDepartamento")

            jQuery.ajax({
                url: '@Url.Action("ObtenerDepartamento", "Tienda")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdDepartamento }).text(item.Descripcion).appendTo("#cboDepartamento")
                        })
                    }

                }
            });

        }

        $("#cboDepartamento").on("change", function () {
            ListarProvincias();
        })

        function ListarProvincias() {

            $("#cboProvincia").html("");

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cboProvincia")

            jQuery.ajax({
                url: '@Url.Action("ObtenerProvincia", "Tienda")',
                type: "POST",
                data: JSON.stringify({ IdDepartamento: $("#cboDepartamento option:selected").val() }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdProvincia }).text(item.Descripcion).appendTo("#cboProvincia")
                        })

                        ListarDistrito();
                    }

                }
            });

        }


        $("#cboProvincia").on("change", function () {
            ListarDistrito();
        })

        function ListarDistrito() {

            $("#cboDistrito").html("");

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cboDistrito")

            jQuery.ajax({
                url: '@Url.Action("ObtenerDistrito", "Tienda")',
                type: "POST",
                data: JSON.stringify({ IdDepartamento: $("#cboDepartamento option:selected").val(), IdProvincia: $("#cboProvincia option:selected").val() }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdDistrito }).text(item.Descripcion).appendTo("#cboDistrito")
                        })
                    }

                }
            });

        }

        function SumarTotal() {

            var sumaTotal = parseFloat(0)

            $(".inputCantidad").each(function (i) {
                var precio = $(this).data("oProducto").Precio;
                var cantidad = parseFloat($(this).val());

                var subTotal = precio * cantidad;

                sumaTotal += subTotal;

            });

            $("#total").text(sumaTotal.toFixed(2))
            $("#total").data("sumaTotal",sumaTotal)

        }

        $(document).on("click", ".btnSumar", function () {
            //debugger;
            var divContenedor = $(this).parent("div.d-flex");

            var inputCantidad = $(divContenedor).find("input.inputCantidad");

            var btn = $(this);

            var idProducto = $(inputCantidad).data("oProducto").IdProducto;

            jQuery.ajax({
                url: '@Url.Action("OperacionCarrito","Tienda")',
                type: "POST",
                data: JSON.stringify({ idProducto: idProducto, sumar: true }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(btn).LoadingOverlay("hide")
                    if (data.respuesta) {
                        var cantidad = parseInt($(inputCantidad).val()) + 1;
                        $(inputCantidad).val(cantidad);
                        SumarTotal();
                    } else {
                        swal("", data.mensaje, "warning");
                    }
                },
                beforeSend: function () {
                    $(btn).LoadingOverlay("show")
                },
                error: function (error) {
                    $(btn).LoadingOverlay("hide")
                }
            });
        });

        $(document).on("click", ".btnRestar", function () {
            debugger;
            var divContenedor = $(this).parent("div.d-flex");

            var inputCantidad = $(divContenedor).find("input.inputCantidad");

            var btn = $(this);

            var idProducto = $(inputCantidad).data("oProducto").IdProducto;

            var cantidad = parseInt($(inputCantidad).val()) - 1;

            if (cantidad >= 1) {
                jQuery.ajax({
                    url: '@Url.Action("OperacionCarrito","Tienda")',
                    type: "POST",
                    data: JSON.stringify({ idProducto: idProducto, sumar: false }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(btn).LoadingOverlay("hide")
                        if (data.respuesta) {

                            $(inputCantidad).val(cantidad);
                            SumarTotal();
                        } else {
                            swal("", data.mensaje, "warning");
                        }
                    },
                    beforeSend: function () {
                        $(btn).LoadingOverlay("show")
                    },
                    error: function (error) {
                        $(btn).LoadingOverlay("hide")
                    }
                });
            }


        });


        $(document).on("click", ".btnEliminar", function () {
            debugger;

            var idProducto = $(this).data("idProducto");

            var cardProducto = $(this).parents("div.cardProducto");

            jQuery.ajax({
                url: '@Url.Action("EliminarCarrito","Tienda")',
                type: "POST",
                data: JSON.stringify({ idProducto: idProducto }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.respuesta) {
                        debugger;
                        cardProducto.remove();

                        MostrarCantidadCarrito();

                        SumarTotal();

                    } else {
                        swal("", data.mensaje, "warning");
                    }
                }
            });


        });

        function RealizarPago() {
            if (parseInt($("#cantidadCarrito").text()) == 0) {
                swal("", "No existe productos en el carrito", "warning");
                return;
            }

            if ($("#cboDistrito").val() == null || $("#txtNombreContacto").val() == "" || $("#txtDireccion").val() == "" || $("#txtTelefono").val() == "") {
                swal("", "Debe completar los datos de detalle envío", "warning");
                return;
            }


            var venta = {
                TotalProducto: $("input.inputCantidad").length,
                MontoTotal: 0,
                Contacto: $("#txtNombreContacto").val(),
                IdDistrito: $("#cboDistrito").val(),
                Telefono: $("#txtTelefono").val(),
                Direccion: $("#txtDireccion").val()
            }

            var listaCarrito = [];

            $("input.inputCantidad").each(function (i) {

                var producto = $(this).data("oProducto");
                var cantidad = parseFloat($(this).val());

                listaCarrito.push({
                    oProducto: producto,
                    Cantidad: cantidad
                });
            });

            jQuery.ajax({
                url: '@Url.Action("ProcesarPago","Tienda")',
                type: "POST",
                data: JSON.stringify({ oListaCarrito: listaCarrito, oVenta: venta }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $.LoadingOverlay("hide");

                    if (data.Status) {
                        window.location.href = data.Link;
                    } else {
                        swal("", "Vuelva a intentarlo mas tarde", "warning");
                    }

                },
                beforeSend: function () { $.LoadingOverlay("show"); },
                error: function (error) { $.LoadingOverlay("hide");}
            });
        }

    </script>
}

